{{> profile-sidebar }}
<div class='profile'>
  {{> profile-avatar name="Иван" }}
  <div class='profile__info'>
      {{> row label="Почта" value="pochta@yandex.ru" input="{{input}}" inputClass="row__input" }}
      {{> row label="Логин" value="ivanivanov"  input="{{input}}" inputClass="row__input" }}
      {{> row label="Имя" value="Иван"  input="{{input}}" inputClass="row__input" }}
      {{> row label="Фамилия" value="Иванов"  input="{{input}}" inputClass="row__input" }}
      {{> row label="Имя в чате" value="Иван"  input="{{input}}" inputClass="row__input" }}
      {{> row label="Телефон" value="+7 (909) 967 30 30"  input="{{input}}" inputClass="row__input" }}
  </div>
  <div class='profile__controls'>
      {{> button  label="Сохранить" class="primary"}}
  </div>
</div>
