<section class='registration'>
  <h2 class='registration__title'>Регистрация</h2>
<!--  TODO:убрать-->
  {{{link}}}
  <form action='' class='registration__form'>
    {{{inputEmail}}}
    {{{inputLogin}}}
    {{{inputFirstName}}}
    {{{inputSecondName}}}
    {{{inputPhone}}}
    {{{inputPassword}}}
    {{{inputPasswordAgain}}}
    <div class='registration__buttons'>
          {{{login}}}
          {{{registration}}}
    </div>
  </form>
</section>
