<div class='input'>
  <input id='{{name}}' value='{{value}}' name='{{name}}' class='input__control {{class}}' type='{{type}}' />
  {{#if showLabel}}
    <label class='input__label' for='{{id}}'>{{label}}</label>
  {{/if}}
</div>
