{{#if href}}
  <div class='row'>
    <a href='{{href}}' class='row__label link {{class}} '>{{label}}</a>
  </div>
{{else if isInput}}
  <div class='row'>
    <div class='row__label'>{{label}}</div>
    {{{inputProfile}}}

  </div>
{{else}}
  <div class='row'>
    <div class='row__label'>{{label}}</div>
    <div class='row__value'>{{value}}</div>

  </div>
{{/if}}
