<div class="chat">
  <div class="chat-sidebar">
    <div class='chat-sidebar__header'>
      <div class="chat-sidebar__link">
            {{{linkProfile}}}
      </div>
      <div class="chat-sidebar__search">
            {{{inputChat}}}
      </div>
    </div>

    <div class="chat-sidebar__chats">
          {{{ChatUser1}}}
          {{{ChatUser2}}}
          {{{ChatUser3}}}
    </div>
  </div>
  <div class="chat-main">
    <div class='chat-main__window'>
    </div>
    <div class='chat-main__control'>
          {{{inputMess}}}

    </div>

  </div>
</div>
