<div class="chat">
  <div class="chat-sidebar">
    <div class='chat-sidebar__header'>
      <div class="chat-sidebar__link">
            {{{linkProfile}}}
      </div>
      <div class="chat-sidebar__search">
            {{{inputChat}}}
      </div>
    </div>

    <div class="chat-sidebar__chats">
          {{{ChatUser1}}}
          {{{ChatUser2}}}
          {{{ChatUser3}}}
    </div>
  </div>
  <div class="chat-main">
    <div class='chat-main__window'>
    </div>
    <div class='chat-main__control control'>
      <div class='control__attach'>
        <img src="../../../../static/icons/icon-attach.svg" alt="attach">
      </div>
      <div class='control__input'>
            {{{inputMess}}}

      </div>
      <div class='control__send'>
        <img src="../../../../static/icons/icon-send.svg" alt="send">

      </div>

    </div>

  </div>
</div>
