<div class="chat">
  <div class="chat-sidebar">
    <div class='chat-sidebar__header'>
      <div class="chat-sidebar__link">
            {{{linkProfile}}}
      </div>
      <div class="chat-sidebar__search">
            {{{inputChat}}}
      </div>
    </div>

    <div class="chat-sidebar__chats">
          {{{chatList}}}
    </div>
  </div>
  <div class="chat-main">
<div class='chat-main__header chat-header'>

  <div class='chat-header__info'>
        {{{header}}}

  </div>
  <div class='chat-header__menu'>
    <ul class='chat-menu chat-menu--hidden'>{{{chatMenu}}}
    </ul>
        {{{buttonMenu}}}


  </div>
</div>

    <div class='chat-main__window'>
          {{{messages}}}
    </div>
    <div class='chat-main__control control'>
      <div class='control__attach'>
        {{{buttonAttach}}}
      </div>
      <div class='control__input'>
            {{{inputMess}}}

      </div>
      <div class='control__send'>
        {{{buttonSend}}}

      </div>

    </div>

  </div>
{{{modal}}}

</div>
