
<div class='profile'>
  <div class='profile__sidebar'>
        {{{profileSidebar}}}
  </div>

  <div class='profile__main'>
    {{{profileAvatar}}}
    <div class='profile__info'>
          {{{profileRowEmail}}}
          {{{profileRowLogin}}}
          {{{profileRowFirstName}}}
          {{{profileRowSecondName}}}
          {{{profileRowPhone}}}
          {{{profileRowPassword}}}
          {{{profileRowPasswordAgain}}}
  </div>
    <div class='profile__controls'>
      {{{saveButton}}}
    </div>

  </div>

</div>








