<section class='login'>
  <h1 class='login__title'>{{title}}</h1>
  <form action='' class='login__form'>
    {{{inputLogin}}}
    {{{inputPassword}}}
    <div class='login__buttons'>
          {{{login}}}
          {{{registration}}}
    </div>
  </form>
</section>
